<a href="https://colab.research.google.com/github/GabrielDantas-99/AnaliseDeDados/blob/main/Introducao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Cenário: Uma empresa de vendas de bermudas nos contratou para fazer uma análise geral do seu faturamento.

In [ ]:
# Para trabalharmos com análise de dados em Python, precisamos importar 
# a biblioteca Pandas.
import pandas as pd

In [ ]:
# Agora, vamos importar o arquivo contendo os dados das vendas da empresa.
tabela = pd.read_excel("/content/drive/MyDrive/Aulas-Python/Analise-de-Dados/AulaYoutube/Arquivos/Vendas.xlsx")
display(tabela) #Print de forma estilizada

Após importar e visualizar os dados da tabela, podemos verificar que a empresa possui mais de uma loja.

# Tomando como base uma análise TopDown, vamos verificar uma informação mais geral da empresa: o faturamento total dela.

In [ ]:
# Para obtermos essa informação, devemos somar toda a coluna de "Valor Final"
faturamento_final = float(tabela["Valor Final"].sum())
print(f"Faturamento Total = R$ {faturamento_final:.2f}")

Faturamento Total = R$ 55895.00

Agora podemos comparar o faturamento individual de cada loja.

In [ ]:
# Faturamento por Loja                           Agrupar por:      O que fazer com as outras tabelas
fat_por_loja = tabela[["ID Loja", "Valor Final"]].groupby("ID Loja").sum()
display(fat_por_loja)

                            Valor Final
ID Loja
Bourbon Shopping SP                4386
Center Shopping Uberlândia         2994
Iguatemi Campinas                 41720
Iguatemi Esplanada                 2473
Norte Shopping                     4322

Constatamos que a Loja Iguatemi Campinas possui um Valor Final 10 vezes maior que as outras lojas. Portanto, vamos analisar o que causou esse faturamento a partir das vendas de seus produtos.

In [ ]:
# Faturamento por produto
fat_por_produto = tabela[["ID Loja", "Produto", "Valor Final"]].groupby(["ID Loja", "Produto"]).sum()
fat_por_produto

                                             Valor Final
ID Loja                    Produto
Bourbon Shopping SP        Bermuda                   750
                           Bermuda Estampa          1183
                           Bermuda Linho             195
                           Bermuda Listrado         1793
                           Bermuda Xadrez            465
Center Shopping Uberlândia Bermuda Estampa           338
                           Bermuda Linho             780
                           Bermuda Listrado          326
                           Bermuda Xadrez           1550
Iguatemi Campinas          Bermuda                  1200
                           Bermuda Estampa           845
                           Bermuda Linho            1170
                           Bermuda Liso            36581
                           Bermuda Listrado         1304
                           Bermuda Xadrez            620
Iguatemi Esplanada         Bermuda                   150
                           Bermuda Estampa           338
                           Bermuda Linho            1365
                           Bermuda Xadrez            620
Norte Shopping             Bermuda                  1350
                           Bermuda Estampa           845
                           Bermuda Linho             390
                           Bermuda Listrado          652
                           Bermuda Xadrez           1085

Após a análise dos produtos de cada loja, verificamos que a loja Iguatemi Campinas possui um produto que fatura mais de 36.000 reais e que as outras lojas não possuem. Podemos concluir que a venda desse produto em outras lojas da empresa aumentará seu faturamento total.